<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/style.css" />
        <title>Employee Menu</title>
    </head>
    <body>
{{message | safe}}
{{username| safe}}
{{eid | safe}}
{{sid | safe}}
{{rank}}



        <h1>Employee Navigation Menu</h1>
        <form action="/store_info" method="POST">
            <button type="submit" name="option" value="">Info for your Store</button>
        </form>
        <form action="/complete_purchase" method="POST">
            <button type="submit">Complete a game Purchase</button>
        </form>
        <form action="/check_stock" method="POST">
            <button type="submit">Check stock for your store </button>
        </form>
        <form action="/return_games" method="POST">
            <button type="submit">Complete a Return</button>
        </form>

        {% if rank == "M" %}

        <form action="/edit_employee" method="POST">
            <button type="submit">Terminate or Transfer an employee</button>
        </form>





        {% endif %}

        <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
        </form>



      </body>
</html>
