<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/style.css" />
        <title>Menu</title>
    </head>
    <body>
        <h1>Login</h1>
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/try_login" method="POST">
            <label>Username:</label>
            <input name="username" type="text"/>
            <label>Password:</label>
            <input name="password" type="text"/>
            <input type="submit" value="Submit" class="btn" />
        </form>
</html>