<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../static/style.css" />
  <title>Search Results</title>
</head>
<body>


  <div class="container">
    {% if message %}
    <p class="message">{{ message | safe }}</p>
    {% endif %}

      <div class="form-group">
        <h3>Your Previous Purchases...</h3>




<table border = "1" class = "dataframe">
  <thead>
    <tr style = "text-align: right">
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {% for item in listy %}
      <tr>
        <td class ="c1">{{ item.title }} </td>
        <td class ="c1">{{ item.price }} </td>
        <td class ="c1">{{ item.address }} </td>
      </tr>
    {% endfor %}
  </div>
</body>
</html>
