<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="../static/style.css" />
        <title>Menu</title>
    </head>
    <body>
        <h1>Navigation Menu</h1>
        <form action="/create_review" method="POST">
            <button type="submit">Write a review</button>
        </form>
        <form action="/find_store" method="POST">
            <button type="submit" name="option" value="">Find a store</button>
        </form>
        <form action="/order_game" method="POST">
            <button type="submit">Order a game</button>
        </form>
        <form action="/view_orders" method="POST">
            <button type="submit">View your orders</button>
        </form>
        <form action="/game_search" method="POST">
            <button type="submit">Search for games</button>
        </form>
        <form action="/about" method="POST">
            <button type="submit">About</button>
        </form>
</html>