<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="../static/style.css" />
  <title>Reviews</title>
</head>
    <body>
        <div>
        <form action="/user_menu" method="POST">
            <button type="submit">Return to main menu</button>
        </form>
        {% if message %}
            <p class="message">{{ message | safe }}</p>
        {% endif %}

        {% for review in reviewList %}
            <div class="container" style="border:2px solid black">
            <h3>Author: {{ review.uid }}</h3>
            <h3>Game Title: {{ review.title }}</h3>
            <h3>Stars: {{ review.score }}</h3>
            <h3>Review: {{ review.body }}</h3>
            </div>
        {% endfor %}
        </div>


    </body>
</html>
